.item-card__section {
  margin-top: 20px;
}

.item-card__image {
  width: 325px;
  height: 328px;
  border-radius: 10px;
  cursor: pointer;
}

.item-card__container {
  display: flex;
  flex-direction: column-reverse;
}

.item-card__name {
  text-align: center;
  font-family: "CabinetGrotesk-Bold", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  top: 40px;
  border-radius: 4px;
  padding: 2px 12px 2px 12px;
  border: solid 2px;
  width: fit-content;
  height: fit-content;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  margin: auto;
  margin-top: 15px;
  border-color: white;
}

.item-card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  border: 1px;
}

.item-card__like-button {
  background: transparent url(../../images/likebuttoninactive.svg) center
    no-repeat;
  width: 20px;
  height: 20px;
  border: 0px;
  position: relative;
  top: 85px;
  left: 70px;
  margin: auto;
  cursor: pointer;
}

.item-card__like-button_active {
  background: transparent url(../../images/likebuttonactive.svg) center
    no-repeat;
}
