.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  font-family: "CabinetGrotesk-Medium", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar_container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__button {
  font-family: "CabinetGrotesk-Medium", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  cursor: pointer;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 75%;
}

.header__nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
