.sidebar__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 47px;
  width: 260px;
}

.sidebar__logo {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border-radius: 75%;
}

.sidebar__logo-alternate {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "CabinetGrotesk", arial, sans-serif;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 16px;
}

.sidebar__name {
  font-family: "CabinetGrotesk", arial, sans-serif;
  font-size: 20px;
  height: 25px;
  line-height: 24.8px;
}

.sidebar__buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.sidebar__edit-profile_button {
  font-family: "CabinetGrotesk-Medium", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.sidebar__log-out_button {
  font-family: "CabinetGrotesk-Medium", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
