.clothes-section__main {
  margin-top: 65px;
}

.clothes-section__container {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.clothes-section__title {
  font-family: "CabinetGrotesk", arial, sans-serif;
  font-size: 20px;
}

.clothes-section__button {
  font-family: "CabinetGrotesk-Medium", arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;
  transition: ease-in-out 0.2s;
}

.clothes-section__button:hover {
  opacity: 1;
}

.clothes-section__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
